# API
PORT=4000
LOG_LEVEL=info

## OpenAI API
OPENAI_API_KEY=
OPENAI_VOICE_MODEL=gpt-realtime

## Twilio Config
### Default is disabled
TWILIO_ENABLE=false
TWILIO_WEBHOOK_HOST=ws://localhost:4000/media-stream

## AWS Credentials and Amazon Connect Config
### Default is disabled
AMAZONCONNECT_ENABLE=false
AMAZON_CONNECT_SIP_HOST=0.0.0.0
AMAZON_CONNECT_SIP_PORT=5060
AMAZON_CONNECT_SIP_DOMAIN=your-domain.com
AMAZON_CONNECT_SIP_USERNAME=ai-agent
AMAZON_CONNECT_SIP_PASSWORD=your-password
