.loading-dots {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dot {
  min-width: 3px;
  min-height: 3px;
  max-width: 10px;
  max-height: 10px;
  margin: 0 5px;
  border-radius: 50%;
  background-color: #dedede;
  animation: pulse 0.6s infinite;
}

@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
}
